<h2>Manager Login</h2>

<form id="check">
    <input name="email" placeholder="Email" required />
    <br /><br />
    <input name="password" type="password" placeholder="Password" required />
    <br /><br />
    <button type="submit">Login</button>
</form>

@section scripts{
    <script>
    $(document).ready(function () {

        $('#check').submit(function (e) {

            e.preventDefault();

            $.ajax({
                url: '@Url.Action("Login", "Manager")',
                type: 'POST',
                data: $(this).serialize(),
                success: function (res) {

                    if (res.success) {
                        window.location.href = res.redirectUrl;
                    } else {
                        alert(res.message);
                    }
                },
                error: function () {
                    alert("Something went wrong");
                }
            });

        });

    });
    </script>
}
